
.home-container{
    width:100%;
    height:100vh;
    display: flex;
    position: relative;
    background-color: #f8f7f7;
}

.home-right,.home-left{
    width:50vw;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-left{
  background-color: #f8f7f7;
}
.home-right{
    background-color: #fff;
    padding:2%;
}
.home-right-content{
  width:100%; 
}

.home-pic{
    width:100%;
}

.home-title{
    font-size:50px;
    margin:3% 0;
}
.home-sub-heading{
    margin:3% 0;
    font-size:18px;
}

.home-btn-container{
    margin:3% 0 ;
}
.home-btn-container button{
    background-color: #fff;
    font-size: 17px;
    font-weight: 600;
    position: relative;
    box-shadow: 5px 6px 1px #000;
    border:3px solid #000;
    border-radius: 10px;
    transition: 0.3s;
}
.home-btn-container button:hover{
    box-shadow: none;
}

  .typing-demo {
    width: 118ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
  }

  .home-title-1{
    margin-bottom: 0;
  }
  .home-title-2{
    margin:0;
}
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

  /* FOR TABLET SCREEN */

  @media screen and (min-width:641px) and (max-width:1024px) {
    .home-container{
      height:80vh;
    }
    .home-title-1{
      font-size:25px;
    }
    .home-right-content{
      width:90%;
    }
    .typing-demo{
      width:38ch;
    }
    .home-title-2{
      font-size:16px;
    }
    .home-sub-heading{
      font-size:14px;
    }
    .home-btn-container button {
      font-size:13px;
      width:40%;
    }
  }

  /* FOR MOBILE SCREEN */

  @media screen and (max-width:640px) {
    .home-container{
      height:60vh;
    }
    .home-left{
      display: none;
    }
    .home-right{
      width:100%;
      background:linear-gradient(to top,#f8f7f7,#fff);
    }
    .home-title-1{
      font-size:30px;
    }
    .home-title-2{
      font-size:20px;
    }
    .home-sub-heading{
      font-size:14px;
    }
    .typing-demo{
      width:47ch;
    }
    .home-btn-container button{
      width:40%;
      font-size:14px;
    }
  }