
.home-container{
    width:100%;
    height:100vh;
    display: flex;
    position: relative;
}

.home-right,.home-left{
    width:50%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-left{
    background-color: #f3f3f3;
}
.home-right{
    padding:2%;
}
.home-right-content{
    height:50vh;
}

.home-pic{
    width:60%;
    filter: drop-shadow(0 0 10px);
}

.home-title{
    font-size:50px;
    margin:3% 0;
}
.home-sub-heading{
    margin:3% 0;
    font-size:18px;
}

.home-btn-container{
    margin:3% 0 ;
}
.home-btn-container button{
    background-color: #fff;
    font-size: 17px;
    font-weight: 600;
    position: relative;
    box-shadow: 5px 6px 1px #000;
    border:3px solid #000;
    border-radius: 10px;
    transition: 0.3s;
}
.home-btn-container button:hover{
    box-shadow: none;
}

  .typing-demo {
    width: 117ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
  }

  .home-title-1{
    margin-bottom: 0;
  }
  .home-title-2{
    margin:0;
}
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }