@import url("https://fonts.googleapis.com/css2?family=REM:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "REM", "sans-serif";
  scroll-behavior: smooth;
  background-color: #141c4c;
  color: #fff;
}

body{
  overflow-x: hidden;
}
button {
  width: 15%;
  padding: 12px 0;
  margin-left: 4%;
  cursor: pointer;
}

.app-outer-container {
  width:100vw;
  height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-container {
  width: 80%;
  height: 100vh;
  background: transparent;
}

.sec1,
.sec2,
.sec3,
.sec4,
.sec5 {
  animation: revealing;
  animation-timeline: view(block);
  animation-range: cover 0% cover 30%;
  margin: 0px;
  background-color: transparent;
}

@keyframes revealing {
  from {
    color: gray;
    margin-left: 100vw;
    filter: blur(50px);
    opacity: 0.5;
  }
  to {
    margin-left: 0px;
    filter: blur(0px);
    opacity: 1;
  }
}

